@import "antd/dist/antd.css";

:root {
  --standart_gradient: linear-gradient(to right, #ea4a7a, #fe7251);
  --standart_gradient_hover: linear-gradient(to left, #ea4a7a, #fe7251);
}

.container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  padding: 0 15px;
}
.form_block {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.from_auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
div.ant-typography {
  text-align: center;
  margin-top: 1rem;
}
span.anticon {
  color: #bfbfbf;
}
.ant-btn-primary {
  background: var(--standart_gradient);
  border: none;
  border-radius: 20px;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: var(--standart_gradient_hover);
}
.ant-message {
  font-size: 16px;
}